{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
},
  "rules": {  
    "semi": ["error", "always"],
    "no-empty": "off", 
    "curly": "error", 
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "no-async-promise-executor": "off",
    "linebreak-style": ["error", "unix"]
 }
}